@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/*shared style*/
.title-color {
  color: #ff5400;
}
* {
  font-family: "Mulish", serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
/*nav section style*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.left img{
    max-width:50px;
    max-height: 60px;
    width: 100%;
    height: 100%;
}

.right > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: clamp(0.6rem, 5vw, 1.8rem);
}


li a {
  text-decoration: none;
  color: #424247;
}

.nav-title {
  font-weight: 700;
  color: #3a3a3a;
  font-size: clamp(1rem, 5vw, 3rem);
 
}

/*banner section style*/

.banner {
  background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  height: 100%; 
  background-size: cover;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.banner-section {
  /* max-width: 800px; */
  margin-top: 100px;
  text-align: center;
}

.banner-title {
  text-align: center;

  font-weight: 700;
  color: #ffffff;
  font-size: clamp(1rem, 5vw, 4rem);
}
.banner-description {
  color: #ffffff;
  font-size: clamp(0.5rem, 5vw, 1rem);
  margin-top: 5px;
}
.input-field {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 10px;
  flex-wrap: wrap;
  /* max-width: 800px; */
  border-radius: 8px;
  min-width: 180px;
    box-shadow: 1px 10px 10px green;
  /* max-width: 800px; */
  /* border: 1px solid white; */
}
input {
  height: 50px;
  max-width: 160px;
  width: 100%;
  border-radius: 8px;
  border: 0;
  text-align: center;
  cursor: pointer;
}
.primary {
  background-color: #ff5400;
  height: 50px;
  width: 160px;
  /* width: 100%; */
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  color: #ffffff;
}

/*tour section style*/

.tour-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.tour {
  max-width: 577px;
}
.tour-title {
  font-weight: 700;
  font-size: clamp(1rem, 5vw, 4rem);
  color: #131318;
}
.tour-description {
  font-weight: 600;
  font-size: clamp(0.5rem, 5vw, 1rem);
  color: #131318;
  margin-top: 20px;
}
.tour-btn {
  margin-top: 50px;
}
.tour > ul li {
    margin-left: 30px;
}
.tour > ul {
    margin-bottom: 20px;
}
.tour-img img {
  max-width: 550px;
  max-height: 550px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/*splash section style */
.splash-text{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.row img{
   height: 100%;
   width: 100%;
}
.row{
    height: 300px;
    display: flex;
    gap:20px;
    margin-bottom: 20px;
}


/*destination part style*/
.choose-section{
    margin-bottom: 100px;
}
.hotel{
    display: flex;
    align-items: center;
    gap: 20px;
}
.box{
    max-width: 580px;
    border-radius:20px;
    padding: 30px 30px;
}
.box h3,p{
    margin-top: 10px;
}
.box-1,.box-3{
background-color: #fbb4631f;
}
.box-2{
    background-color:#29cdf61f;
}
.box-3{
    margin-top: 20px;
    justify-self: center;
}

/*simple place section style*/
.see-content{
    max-width: 530px;
}
.see-title{
    font-weight: 700;
    font-size: clamp(1rem, 5vw,2.5rem);
    color: #131318;
}
.see-btn{
    margin-top: 10px;
}

.see-content> ul li {
    margin-left: 30px;
}
.see-content> ul {
    margin-bottom: 20px;
}

/*Newsletter section style*/
.last-one{
    margin-top: 100px;
    display: flex;
    align-items: center;
   gap: 20px;
   margin-bottom: 100px;
}
.news-section{
    max-width:475px;
    min-height: 422px;
    border: 3px solid orangered;
    border-radius: 8px;
    padding: 35px 35px;
}
.news-section input{
    display: flex;
    max-width: 395px;
    max-height: 55px;
    background-color: #13131805;
    margin-top:20px ;
}
.sub-btn{
    width:395px;
    height: 55px;
    margin-top: 20px;
}
.news-img img{
     height: 100%;
     width: 100%;
     max-width: 675px;
     max-height: 422px;
}
.news-section h4{
    font-weight:600;
    font-size:clamp(1rem,5vw,1.5rem);
    margin-bottom: 20px;
}
.news-section p{
    font-weight: 400;
    font-size:clamp(0.6rem,5vw,1rem) ;
    margin-bottom: 30px;
}

/*footer section style*/

.footer-section {
    margin-top: 100px;
    background:#767679f5;
    text-align: center;
    padding: 60px 20px;
  }
  .footer-icons{
    margin-top: 30px;
    margin-bottom: 40px;

  }

  .footer-icons img{
    max-width: 20px;
    max-height: 16px;
    width: 100%;
    height: 100%;
    margin-left: 20px;
  }
  hr{
    margin-bottom: 40px;
    color: #131318;
  }
  .footer-p{
        color: #131318;
  }
  
 
  

/*media query section*/

@media screen and (max-width: 768px) {
  nav,
  .input-field,
  .tour-section ,.hotel,.last-one{
    flex-direction: column;
  }

  .banner-section,
  .banner-description,
  .input-field {
    margin-top:5px;
  }
  .input-field {
    gap: 5px;
    padding: 5px 5px;
  }
  /* .input {
    width: 255px;
  } */
  .tour-img img {
    margin-top: 50px;
  }
  .row{
    flex-direction: column;
    height: auto;
}
.last-one{
    gap: 20px;
}
}
